@import './styles/login';
@import './styles/sidebar';
@import './styles/navbar';
@import './styles/page';
@import './styles/card';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', 'sans-serif';
    background-color: #E5E5E5;
    font-size: 16px;
    p, h1 {
    color:#213F7D 
    }
 }